<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Alpha Blog</title>
		<%= stylesheet_link_tag 'style' %> 
	</head>

	<body class="landing">

		    <!-- Header -->
			<header id="header">
				<h1><a href="#">AB</a></h1>

				<nav id="nav">
					<ul>
						<li><%= link_to 'Home', root_path %></li>
						<li><%= link_to 'About', about_path %></li>
						<li><a href="#" class="button special">Sign In</a></li>
					</ul>
				</nav>
			</header>


		    <!-- Banner -->
			<section id="banner">
				<h2>Welcome to Alpha Blog!</h2>
				<p>Blog with us and become Alpha!</p>
			</section>


		    <!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">

					<header class="major">

						<h2>Conquer the world with your words!</h2>

						<p>Lorem ipsum dolor sit amet, delectus consequatur, similique quia!</p>

					</header>

				</div>

			</section>


		    <!-- Two -->
			<section id="three" class="wrapper style3 special">

				<div class="container">

					<header class="major">

						<h2>Sing Up now!</h2>

					</header>

				</div>


				<div class="container 50%">

				<!-- FORMS: -->
				<form class = myform >
					
					<label for="name" class="hidden-label">Username:</label>
					<input id="name" type="text" name="name" placeholder="Username">					
					
					<label for="email" class="hidden-label">Email:</label>
					<input id="email" type="email" name="email" placeholder="Email">
					
					<label for="password" class="hidden-label">Password:</label>
					<input id="password" type="password" name="password" placeholder="Password">

					<label for="password" class="hidden-label">Password:</label>
					<input id="password" type="password" name="password" placeholder="Repeat Password">
					
					<input type="submit" value="Create account">
					
				</form>	

				</div>

			</section>
	

		    <!-- Footer -->
			<footer id="footer">
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Alpha Blog Assignment 2016.</li>
							</ul>		
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>
